<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
    span, h1{
        color: #000;
        font-family: 'Roboto', sans-serif;
    }

</style>

<div>

    <span><h1>De: </h1> {{name}}</span>

    <span>
        <h1>Mensagem:</h1> {{message}}
    </span>

</div>