.footer{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    position: sticky;
    width: 100%;
    border-top: 1px solid #eee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}